.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  box-shadow:whitesmoke;
}
[data-theme="dark"] .App-header {
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.1);
}
[data-theme="dark"] .App-header:hover {
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.05);
}
.App-header ul {
  font-size: 16px;
  text-align: left;
  margin-top: 20px;
}

.App-header li {
  margin: 5px 0;
}
